boto3==1.17.112
botocore==1.20.112
discord.py==1.7.2
eth-account==0.5.4
hexbytes==0.2.1
python-dotenv==0.16.0
requests==2.26.0
web3==5.21.0
pytest==6.2.4
git+https://github.com/flashbots/web3-flashbots.git@master
eth-brownie==1.15.0
